<div class="flex w-full mx-auto justify-content items-center">
    <div class="w-4/5 h-3/4 mx-auto flex flex-col justify-content">
    {{#each blog}}
        <a {{#if ../loggedIn}} href="/api/blog/{{id}}/comment" {{else}} href="/login" {{/if}} class="block h-max m-3 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-xl font-bold text-purple-900 dark:text-white">{{title}}</h5>
            <h4 class="mb-2 text-base font-bold text-gray-600 dark:text-gray-400">{{user.username}}</h4>
            <h3 class="mb-2 text-lg font-bold text-purple-300 dark:text-white">{{date}}</h3>
            <p class="text-sm text-gray-700 dark:text-gray-400">{{content}}</p>
        </a>
    {{/each}}
    </div>
</div>
