<div class="flex flex-col w-4/5 h-screen mx-auto justify-content items-center">
    <h5 class="text-black font-bold text-3xl m-5">Home Page</h5>
    {{#each blog}}
        <a {{#if loggedIn}} href="/api/blog/{{id}}/comment" {{else}} href="/login"{{/if}}class="block w-full h-max m-3 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{title}}</h5>
            <h4 class="mb-2 text-l font-bold tracking-tight text-gray-900 dark:text-white">Posted by {{user.username}} on {{date}}</h4>
            <p class="font-normal text-gray-700 dark:text-gray-400">{{content}}</p>
        </a>
    {{/each}}
</div>